.fancy-form{
    background-color: rgb(194, 255, 255);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: rgba(255, 255, 255, 0.556);
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
}

.submit-button{
    float: right;
    position: relative;
    bottom: 60px;
}